.cp-demo {
  padding: 16px;
}

@include b(test) {
  background-color: red;
  @include e(element) {
    background-color: yellowgreen;
    @include m(active) {
      background-color: aqua;
    }
  }
}
